%h1 Sign Up
= simple_form_for @user, :html => {:multipart => true} do |f|
  = error_messages @user
  = f.input :name
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.input :avatar, :as => :file, :label => 'Your avatar'
  = f.input :avatar_cache, :as => :hidden
  .actions= f.submit