%h1= @user.name

%p
  = @user.email
  
%h4 Public Surveys
- @user.surveys.each do |survey|
  - if survey.is_public?
    = survey.title 
    = survey.description
    = link_to "view survey", user_survey_path(@user, survey)
    %br
  