%h1 User

= image_tag @user.avatar.thumb.url, {:class =>"thumb"}
%p
  %strong= @user.name
  %br
  = @user.email

.clear

%h3 Public Surveys
- @user.surveys.each do |survey|
  - if survey.is_public?
    %h4= survey.title
    = survey.description
    %br 
    = link_to raw("&raquo; View"), user_survey_path(@user, survey)
    %br
    %br 
  