%table.list_surveys
  %col{:width => 40}
  %col{:width => nil}
  %col{:width => 170}
  %col{:width => 70}
  - if logged_in?
    %col{:width => 100}
  %thead
    %tr
      %th Author
      %th Title
      %th Published
      %th &nbsp;
      - if logged_in?
        %th &nbsp;
  %tbody
    - @surveys.each do |survey|
      %tr
        %td.thumb_list= link_to(image_tag(survey.user.avatar.thumb_small.url, {:title => survey.user.name}), user_path(survey.user))
        %td
          = survey.title
          %span.info_small
            Questions: #{survey.questions.count}
            \|
            Watchers: #{survey.watchers.count}
        %td= time_ago_in_words(survey.created_at)
        %td= link_to "View", survey_path(survey)
        - if logged_in?
          %td
            - if current_user.survey_ids.include? survey.id
              Your survey
            - else
              = watch_button(survey, (current_user.watching.include? survey.id) ? "Unwatch" : "Watch") 
